// Mixin Prefixes
$prefixes: (webkit, moz, ms, o);
@mixin prefixes($property, $value) {
  @each $type in $prefixes {
    -#{$type}-#{$property}: $value;
  }
  #{$property}: $value;
}

// Create Container
@mixin single-max-breakpoints($point-name) {
  @if $point-name == "phone" {
    // Small devices phones
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $point-name == "md-phone" {
    // Medium devices phone
    @media (max-width: 767.98px) {
      @content;
    }
  } @else if $point-name == "tablet" {
    // Medium devices tablets
    @media (max-width: 991.98px) {
      @content;
    }
  } @else if $point-name == "laptop" {
    // Large devices desktops
    @media (max-width: 1199.98px) {
      @content;
    }
  }
}

@mixin single-min-breakpoints($point-name) {
  @if $point-name == "phone" {
    // Small devices phones
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point-name == "md-phone" {
    // Medium devices phone
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point-name == "tablet" {
    // Medium devices tablets
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point-name == "laptop" {
    // Large devices desktops
    @media (min-width: 1200px) {
      @content;
    }
  }
}

@mixin breakpoints($point-name) {
  @if $point-name == "phone" {
    // Small devices phones
    @media (max-width: 575.98px) {
      @content;
    }
  } @else if $point-name == "md-phone" {
    // Medium devices phone
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  } @else if $point-name == "tablet" {
    // Medium devices tablets
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  } @else if $point-name == "laptop" {
    // Large devices desktops
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  } @else if $point-name == "desktop" {
    // X-Large devices large desktops
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// The Basic Style for Elements
@mixin style($f-s, $f-w, $t-t, $c-l) {
  font-size: $f-s;
  font-weight: $f-w;
  text-transform: $t-t;
  color: $c-l;
}

// Main Transition
@mixin transition($property) {
  @include prefixes(transition, ($property 0.4s ease-in-out));
}
