// Colors
$main-color: #1bbf72;
$white-color: #ffffff;
$black-color: #000000;
$heading-color: #05122d;
$paragraph-color: #6a6f73;
$text-color: #fdfcfc;
$shadow-color: rgba(0, 0, 0, 0.05);
$main-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$border-color: #d7d7d7;
$border-color-2: #dbeefd;
$border-footer-color: #2c3040;
$bg-color-1: #e6f1f7;
$bg-color-2: #f2f8fa;
$bg-color-3: #eee4dc;
$bg-color-4: #f8f8f9;
$bg-color-5: #f5f1ee;
$bg-color-6: #f2f7fa;
$bg-color: #2c3040;
$star-color: #f6b429;
$footerBG: #05122d;

// PX Size
$size-5: 0.3125rem;
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.938rem;
$size-16: 1rem;
$size-17: 1.0625rem;
$size-20: 1.25rem;
$size-23: 1.4375rem;
$size-25: 1.5625rem;
$size-26: 1.625rem;
$size-30: 1.875rem;
$size-35: 2.1875rem;
$size-38: 2.375rem;
$size-40: 2.5rem;
$size-48: 3rem;
$size-50: 3.125rem;
$size-60: 3.75rem;
$size-100: 6.25rem;

// Font Size
$font-size-12: 0.75rem;
$font-size-13: 0.8125rem;
$font-size-14: 0.875rem;
$font-size-15: 0.938rem;
$font-size-16: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-25: 1.5625rem;
$font-size-26: 1.625rem;
$font-size-30: 1.875rem;
$font-size-38: 2.375rem;
$font-size-40: 2.5rem;
$font-size-47: 2.9375rem;
$font-size-48: 3rem;
$font-size-60: 3.75rem;
$font-size-100: 6.25rem;

// Font Weight
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-900: 900;

// Line Height
$line-height-27: 27.2px;
$line-height-24: 24px;
$line-height-30: 30px;
$line-height-34: 34px;
$line-height-60: 60px;
$line-height-48: 48px;

// Padding
$padding-100: 6.25rem;

// Margin
$margin-10: 10px;
$margin-15: 15px;
$margin-25: 25px;
$margin-50: 50px;
