@use "../abstracts/" as *;

%flex-same {
  display: flex;
  flex-wrap: wrap;
}

%font-weight-same {
  font-weight: $font-weight-400;
}

%padding-same {
  padding: $size-25;
}

%font-weight-same-2 {
  font-weight: $font-weight-700;
}

/* Banner Section Start */
.banner {
  position: relative;
  background-image: url(../image/banner-bg-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    // banner box
    .banner-box {
      padding-top: $size-50;
      @extend %flex-same;
      align-items: center;
      & > div {
        width: 50%;
        gap: 60px;
        @include single-max-breakpoints("tablet") {
          width: 100%;
          flex-grow: 1;
        }
      }
      // banner text
      .banner-text {
        .box-content {
          @extend %flex-same;
          flex-direction: column;
          gap: 20px;
          span.sp-title {
            @extend %font-weight-same;
            @include style($font-size-14, null, uppercase, $main-color);
            @include single-max-breakpoints("tablet") {
              @include style($font-size-13, null, null, null);
            }
          }
          h1 {
            @include style(
              $font-size-60,
              $font-weight-700,
              capitalize,
              $heading-color
            );
            line-height: $line-height-60;
            span {
              &.custom {
                color: $main-color;
              }
            }
            @include single-max-breakpoints("tablet") {
              @include style($font-size-30, null, null, null);
              line-height: normal;
            }
          }
          p {
            @extend %font-weight-same;
            @include style($font-size-20, null, null, $paragraph-color);
          }
          .box-button {
            margin-top: 20px;
          }
          @include single-max-breakpoints("tablet") {
            text-align: center;
            align-items: center;
            gap: 15px;
          }
        }
      }
      @include single-max-breakpoints("tablet") {
        gap: 30px;
      }
    }
  }
  // .student-box {
  //   position: absolute;
  //   top: 250px;
  //   right: 7%;
  //   overflow: hidden;
  //   width: fit-content;
  //   @extend %flex-same; // display: flex; flex-wrap: wrap;
  //   .image {
  //     @extend %flex-same; // display: flex; flex-wrap: wrap;
  //     background-color: $white-color;
  //     align-items: center;
  //     padding: 0 25px;
  //     @include prefixes(border-top-left-radius, 50%);
  //     @include prefixes(border-bottom-left-radius, 50%);
  //   }
  //   .contnet {
  //     @extend %padding-same; // padding: $size-25;
  //     @extend %flex-same;
  //     gap: 7px;
  //     flex-direction: column;
  //     justify-content: center;
  //     background-color: $bg-color-1;
  //     .sp-text {
  //       @extend %font-weight-same-2; // font-weight: $font-weight-700;
  //       @include style($font-size-20, null, capitalize, $heading-color);
  //     }
  //     .sp-number {
  //       @extend %font-weight-same-2; // font-weight: $font-weight-700;
  //       @include style($font-size-40, null, null, $main-color);
  //     }
  //   }
  //   @include single-max-breakpoints("md-phone") {
  //     position: relative;
  //     top: 100%;
  //     right: 0;
  //   }
  //   @media (min-width: 768px) and (max-width: 1199.98px) {
  //     top: 70%;
  //     right: 0;
  //   }
  //   @media (min-width: 768px) and (max-width: 1750.98px) {
  //     top: 70%;
  //     right: 0;
  //   }
  // }
}
/* Banner Section End */
